:root {
    --primary-color: #5d5d5d;
    --secondary-color: #f3f4f6;
    --text-color: #1c1c1c;
    --accent-color: #d72c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #575757;
    color: white;
    padding: 15px 20px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    /* Ensures items stack vertically */
    text-align: left;
    justify-content: space-between;
    align-items: center;


}

.header-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 0;
    gap: 15px;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

.header-nav a:hover {
    color: #f39c12;
}

/* Carousel Styling*/

.carousel {
    width: 380%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.carousel img {
    width: auto;
    height: 220px;
    margin-right: 10px;
    border-radius: 10px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hidden {
    display: none !important;
}

/* Manga Styling*/

#mangaList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;

}

.manga-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.manga-card:hover {
    transform: scale(1.05);
}

.manga-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.manga-card-content {
    padding: 15px;
}

.manga-card-link {
    text-decoration: none;
    /* Removes underline */
    color: rgb(36, 36, 36);
    /* Sets font color to black */
    display: block;
    /* Ensures the link covers the whole card */
}

.manga-card-link:hover {
    opacity: 0.7;
    /* Slight effect on hover for better UX */
}

.privacy-link {
    text-decoration: none;
    /* Removes underline */
    color: rgb(255, 255, 255);
    /* Sets font color to black */

    /* Ensures the link covers the whole card */
}

.privacy-link:hover {
    opacity: 0.5
}

#chapterList,
#mangaReader {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

#mangaPages {
    width: 100%;
    /* Ensures container fits the screen */
    max-width: 100vw;
    /* Prevents container from overflowing */
    overflow-x: hidden;
    /* Hides horizontal overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers images */
    padding: 10px;
}

.manga-page {
    width: 70%;
    /* Renders images at half size */
    max-width: 100%;
    /* Prevents overflow */
    max-height: 90vh;
    /* Prevents vertical overflow */
    height: auto;
    /* Maintains aspect ratio */
    object-fit: contain;
    /* Ensures full image is visible */
    display: block;
    margin: 10px auto;
    /* Centers the image */
}

.chapter-item {
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow-y: auto;

    overflow-x: hidden;

    padding: 10px;
    border: 0px solid #ccc;


}

.chapter-item:hover {
    background-color: var(--secondary-color);
}

#readerImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f39c12;
}

#pageIndicator {
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%
}

footer a {
    text-decoration: none;
    /* Removes underline */
    margin: 0 2px;
    /* Adds spacing */
    display: inline-block;
    /* Prevents extra spacing */
}

/* Games Styling*/

#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.game-card-content {
    padding: 15px;
}


/* Whitepaper Section Styling */
.whitepaper-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.whitepaper-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.whitepaper-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.whitepaper-content {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    padding: 0 20px;
}

.roadmap-section {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-left: 5px solid #007bff;
    border-radius: 8px;
}

.roadmap-title {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
}

.roadmap-list {
    list-style-type: none;
    padding: 0;
}

.roadmap-list li {
    padding: 10px 0;
    font-size: 16px;
    color: #444;
    border-bottom: 1px solid #ddd;
}

.roadmap-list li:last-child {
    border-bottom: none;
}

.title-container {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.title-logo {
    width: auto;
    /* Adjust size */
    height: 100px;
    /* Maintain aspect ratio */
    vertical-align: middle;
    margin-right: 10px;
    /* Space between logo and text */
}

.new-icon {
    color: red;
    font-weight: bold;
    margin-left: 5px;
    font-size: 14px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-item {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.shop-item img {
    width: 200px;
    /* Adjust size */
    height: auto;
    display: block;
    margin: 0 auto;
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #989898;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #feab2f;
}

.video-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 300px;
}

.video-card img {
    width: 100%;
    cursor: pointer;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

/* styling for crossed texts */
.crossed {
  text-decoration: line-through;
}

/*Styling for the shop products checkout page*/
.product-page {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.image-slider {
  text-align: center;
  margin-bottom: 20px;
}

.image-slider img {
  max-width: 100%;
  border-radius: 6px;
    
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.8s ease;
  background-color: var(--gray-border);

}

.thumbnails {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnails img:hover {
  border-color: #e02e24;
}

.description-panel, .reviews-panel {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
  border-radius: 6px;
}
